
<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1></h1>
  </div>
  <div class="col-xs-12">
  
    <button class="btn btn-success" (click) = "addToShoppingList(selectedRecipe?.ingredients)">To Shopping List</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
  <p>Name : {{selectedRecipe?.name}}</p>
    <p>Desc : {{selectedRecipe?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul>
      <li *ngFor="let item of selectedRecipe?.ingredients">{{item.name}}({{item.quantity}})</li>
    </ul>
  </div>
</div>


